.album-collections {
    padding: 40px; 
}

.album-collections h3 {
    text-align: center;
    margin-bottom: 20px; 
}

.gallery  h3 {
    margin-bottom: 20px;
    text-align: center; 
}

.form {
    width: 50%;
    margin: auto;
    text-align: center; 
    border: 1px solid silver;
    padding: 10px; 
}

.daftar h3 {
    text-align: center;
    margin: 20px 0;
}